---
layout: default
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 6
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">

  <div class="header-bar">
    <img class='litl-img' src="{{ 'assets/img/litl.png'  | relative_url }}"></img>
    <h2 class='litl-text'>Luke in the <img class='initial' src="{{ 'assets/img/L_initial_trans.png'  | relative_url }}"></img>oop</h2>
  </div>

  <div class="tag-list">
    {% for tag in site.tags reversed %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <p class='tag'><a href="#{{t | slugify}}">{{t}}</a><span>
    {% endfor %}
  </div>

  <br>
  <br>
  <br>
  {% for tag in site.tags reversed %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <div id="{{t | slugify}}" class='page-tag'>{{t}}</div>
  <ul>
  {%  for post in paginator.posts %}
    {% if post.tags contains t %}
    <li>
      <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
      <p>{{ post.description }}</p>
    </li>
    {% endif %}
  {% endfor %}
  <br>
  </ul>
  {% endfor %}

  {% include pagination.html %}

</div>
